/* Enter your custom styles here */
/* .sapMFlexBoxJustifyStart {
    justify-content: center;
    
} */
.btnForApproval{
    margin-left: 60%;
}
.mainHeaderApproval{
    background-color: white;
    margin-bottom: 1%;
}
/* .rejectBtn{
    margin-left: 15%;
} */